.navbar {
  background-color: #36eee0;
}

.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/knitting.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.header-text {
  text-align: center;
  position: relative;
  padding: 100px;
  color: white;
}

.header-button {
  background-color: #f652a0;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.about-hobby {
  text-align: center;
  padding-top: 5%;
  padding-right: 10%;
  padding-left: 10%;
}

.getting-started {
  padding-top: 2%;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  background-color: #ecf0f1;
  text-align: left;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.supplies {
  padding-top: 2%;
  padding-right: 3%;
  padding-left: 3%;
  text-align: right;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
}

.supplies-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
  }
}

.image:hover {
  backdrop-filter: blur(10px);
  filter: blur(4px);
  transition: 0.5s ease;
}

footer {
  background-color: #36eee0;
}

.footer {
  text-align: center;
  font-weight: bolder;
}